<mat-toolbar color="primary">
    <mat-icon>account_balance</mat-icon>

    <span>Bank</span>

    <span class="example-spacer"></span>

    <button (click)="changeRoute(RouterPath.HOME_DIRECT)"
            aria-label="Home"
            [disabled]="currentRoute === RouterPath.HOME_DIRECT"
            mat-icon-button class="example-icon">
        <mat-icon>home</mat-icon>
    </button>

    <button (click)="changeRoute(RouterPath.PROFILE_DIRECT)"
            [disabled]="currentRoute === RouterPath.PROFILE_DIRECT"
            aria-label="Profile"
            mat-icon-button class="example-icon">
        <mat-icon>person</mat-icon>
    </button>

    <button (click)="changeRoute(RouterPath.SESSIONS_DIRECT)"
            aria-label="Devices"
            mat-icon-button class="example-icon"
            [disabled]="currentRoute === RouterPath.SESSIONS_DIRECT">
        <mat-icon>devices</mat-icon>
    </button>

    <button aria-label="Logout" (click)="logoutUser()" mat-icon-button class="example-icon">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
