<mat-form-field class="full-width">
    <mat-label>{{ passwordLabel }}</mat-label>

    <input [formControl]="passwordControl" matInput placeholder="{{ passwordPlaceholder }}" autocomplete="true"
           aria-label="Passowrd"
           type="password">
</mat-form-field>

<div *ngIf="passwordControl.touched">
    <mat-error *ngIf="passwordControl.hasError('pattern')">
        Please enter a valid password
    </mat-error>

    <mat-error *ngIf="passwordControl.hasError('minlength')">
        Password must be at least <strong>10 characters</strong> long.
    </mat-error>

    <mat-error *ngIf="passwordControl.hasError('maxlength')">
        Password must be at max <strong>30 characters</strong> long.
    </mat-error>

    <mat-error *ngIf="passwordControl.hasError('passwordEntropy')">
        You password is <strong>too weak</strong>
    </mat-error>

    <mat-error *ngIf="passwordControl.hasError('required')">
        Password is <strong>required</strong>
    </mat-error>
</div>
