<div class="main-container">
    <form (ngSubmit)="submitForm()" [formGroup]="loginForm" class="login-form">
        <h1 class="email-header">Bank</h1>

        <app-email-field [emailControl]="loginValidatorService.emailControl"
                         formControlName="email"
        >
        </app-email-field>

        <input class="login-input" type="tel" formControlName="telephone">

        <app-password-combination *ngIf="currentUsername !== ''"
                                  [combinations]="combinations"
                                  [combinationGroup]="loginValidatorService.passwordCombinationGroup">
        </app-password-combination>

        <mat-error *ngIf="numOfTries === MAX_NUM_OF_TRIES">
            Number of tries was exceeded. Please try again after <strong>{{ currentDelay }} ms</strong>.
        </mat-error>

        <div class="forgot-password-label">
            <button routerLink="/auth/forgotPassword" mat-button type="button">
                Forgot your password?
            </button>
        </div>

        <div class="button-bar">
            <button [disabled]="!loginForm.valid"
                    *ngIf="currentUsername !== ''"
                    class="my-button"
                    color="primary" mat-raised-button type="submit">
                Login
            </button>

            <button [disabled]="!loginValidatorService.emailControl.valid"
                    *ngIf="currentUsername === ''"
                    (click)="getPasswordCombinationForUser()"
                    mat-raised-button type="button" color="primary"
                    class="my-button">
                Submit Username
            </button>
        </div>

        <div class="register-link-button">
            <button mat-button routerLink="/auth/register" type="button">
                Does not have an account? <strong>Register Now</strong>
            </button>
        </div>
    </form>
</div>
