<app-taskbar></app-taskbar>

<div class="main-container">
    <mat-stepper class="stepper-container" linear>
        <mat-step [stepControl]="transactionForm" [editable]="isEditable">
            <form [formGroup]="transactionForm" (ngSubmit)="buildTransactionFromForm()">
                <ng-template matStepLabel>Fill out transaction info</ng-template>

                <div class="transaction-option-list">
                    <div>
                        <div class="title-label">Transaction from</div>

                        <div class="list-option">
                            <div>{{ account.billNumber | billNumber }}</div>
                            <div>{{ account.balance }}</div>
                        </div>
                    </div>

                    <div>
                        <div class="title-label">Transaction title</div>

                        <div class="list-option">
                            <mat-form-field appearance="outline" class="form-field">
                                <mat-label>Transaction title</mat-label>

                                <input #title formControlName="transactionTitle" matInput
                                       placeholder="My example title">

                                <mat-hint align="end">{{ title.value.length }} / 120</mat-hint>

                                <mat-error *ngIf="transactionForm.controls['transactionTitle'].errors?.['required']">
                                    Transaction title is <strong>required</strong>.
                                </mat-error>

                                <mat-error *ngIf="transactionForm.controls['transactionTitle'].errors?.['minlength']">
                                    Transaction title should have at least <strong>4</strong> characters length.
                                </mat-error>

                                <mat-error *ngIf="transactionForm.controls['transactionTitle'].errors?.['maxlength']">
                                    Transaction title should have max <strong>120</strong> characters length.
                                </mat-error>

                                <mat-error *ngIf="transactionForm.controls['transactionTitle'].errors?.['pattern']">
                                    Transaction title should contain only <strong>polish and english
                                    alphanumeric characters</strong>.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div>
                        <div class="title-label">To</div>

                        <div class="list-option">
                            <mat-form-field appearance="outline" class="form-field">
                                <mat-label>Bill Number</mat-label>

                                <input #bill formControlName="billNumber" matInput
                                       placeholder="{{'12345678901234567890123456' | billNumber}}">

                                <mat-hint align="end">{{ bill.value.length }} / 26</mat-hint>

                                <mat-error *ngIf="transactionForm.controls['billNumber'].errors?.['required']">
                                    Transaction amount is <strong>required</strong>.
                                </mat-error>

                                <mat-error *ngIf="transactionForm.controls['billNumber'].errors?.['minlength']">
                                    Transaction amount must be exactly <strong>26</strong> characters long.
                                </mat-error>

                                <mat-error *ngIf="transactionForm.controls['billNumber'].errors?.['maxlength']">
                                    Transaction amount must be exactly <strong>26</strong> characters long.
                                </mat-error>

                                <mat-error *ngIf="transactionForm.controls['billNumber'].errors?.['pattern']">
                                    Transaction amount has to be a <strong>number</strong> with
                                    <strong>dot</strong>
                                    as separation character.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div>
                        <div class="title-label">Amount</div>

                        <div class="list-option">
                            <mat-form-field appearance="outline" class="form-field">
                                <mat-label>Amount</mat-label>

                                <input formControlName="transactionAmount" matInput placeholder="1000.00">

                                <span matTextSuffix>PLN</span>

                                <mat-error *ngIf="transactionForm.controls['transactionAmount'].errors?.['required']">
                                    Transaction amount is <strong>required</strong>.
                                </mat-error>

                                <mat-error *ngIf="transactionForm.controls['transactionAmount'].errors?.['min']">
                                    Transaction amount must be at least <strong>1</strong> PLN.
                                </mat-error>

                                <mat-error *ngIf="transactionForm.controls['transactionAmount'].errors?.['max']">
                                    Transaction amount is <strong>higher</strong> than your
                                    <strong>balance</strong>.
                                </mat-error>

                                <mat-error *ngIf="transactionForm.controls['transactionAmount'].errors?.['pattern']">
                                    Transaction amount has to be a <strong>number</strong> with
                                    <strong>dot</strong>
                                    as separation character.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="action-buttons">
                    <button class="option-button" mat-raised-button type="button" routerLink="/home">
                        Return
                    </button>

                    <button [disabled]="transactionForm.invalid" class="option-button"
                            mat-raised-button color="primary" matStepperNext>
                        Next
                    </button>
                </div>
            </form>
        </mat-step>

        <mat-step [editable]="isEditable">
            <div>
                <ng-template matStepLabel>Summary</ng-template>

                <mat-list *ngIf="currentTransaction">
                    <mat-list-item>
                        <span matListItemTitle>From</span>
                        <span matListItemLine>{{ currentTransaction.from }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <span matListItemTitle>To</span>
                        <span matListItemLine>{{ currentTransaction.to }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <span matListItemTitle>Amount</span>
                        <span matListItemLine>{{ currentTransaction.amount | currency: 'PLN ' }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <span matListItemTitle>Title</span>
                        <span matListItemLine>{{ currentTransaction.title }}</span>
                    </mat-list-item>
                </mat-list>

                <div class="action-buttons">
                    <button class="option-button" mat-raised-button matStepperPrevious>
                        Back
                    </button>

                    <button (click)="finalizeTransaction()" class="option-button" mat-raised-button
                            matStepperNext color="primary">
                        Next
                    </button>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Done</ng-template>

            <div class="done-container">
                <h1>We shall deliver money as soon as possible!</h1>

                <mat-spinner></mat-spinner>

                <button class="exit-button" routerLink="/home" mat-raised-button color="primary">
                    Exit
                </button>
            </div>
        </mat-step>
    </mat-stepper>
</div>
