.combination-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.combinations-bar {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1em;
}

.error-message {
    text-align: center;
    margin-bottom: 1em;
}

.symbol-input:focus {
    outline: none;
}

@mixin basic-symbol-input {
    width: 4em;
    height: 4em;
    margin: 0.5em;
    background-color: #4b4a4b;
    text-align: center;
    border-radius: 1em;
}

.symbol-input {
    @include basic-symbol-input;
    border: none;
    color: white;
}

.symbol-place-digit {
    text-align: center;
    color: white;
}

.single-combination {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.hint-label {
    color: white;
    margin-top: 0.3em;
    margin-bottom: 1em;
    font-size: 10px;
}
