<div class="combination-container" [formGroup]="combinationGroup">
    <div class="combinations-bar">
        <div *ngFor="let combination of combinations" class="single-combination">
            <input formControlName="{{ combination.controlName }}"
                   [ngStyle]="{
                        'color': combinationGroup.valid || !combinationGroup.touched ? 'white' : 'red',
                        'border': combinationGroup.valid || !combinationGroup.touched ? 'none' : '1px solid red'
                   }"
                   class="symbol-input"
                   maxlength="1"
                   aria-label="Login Input Box"
                   matInput>

            <mat-label class="symbol-place-digit"
                       [ngStyle]="{'color': combinationGroup.valid || !combinationGroup.touched ? 'white' : 'red'}">
                {{ combination.index }}
            </mat-label>
        </div>
    </div>

    <mat-hint class="hint-label">
        Each number is a subsequent symbol of your password.
    </mat-hint>

    <mat-error *ngIf="combinationGroup.invalid && combinationGroup.touched" class="error-message">
        You need to fill <strong>all</strong> the fields!
    </mat-error>
</div>
