<app-taskbar [currentRoute]="RouterPath.HOME_DIRECT"></app-taskbar>

<div class="main-container">
    <div class="content-container">
        <div class="left-column">
            <app-account [account]="account"></app-account>

            <button routerLink="transaction" mat-fab extended color="primary" class="send-money-button">
                <mat-icon>credit_score</mat-icon>
                Send money
            </button>
        </div>

        <mat-accordion class="main-accordion">
            <mat-expansion-panel *ngFor="let transaction of transactions">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon matPrefix>currency_exchange</mat-icon>
                    </mat-panel-title>

                    <mat-panel-description>
                        {{ transaction.date | date: 'dd.MM.yyyy' }}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>Title</span>
                        <span matListItemLine>{{ transaction.title }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <span matListItemTitle>From</span>
                        <span matListItemLine>{{ transaction.from }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <span matListItemTitle>To</span>
                        <span matListItemLine>{{ transaction.to }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <span matListItemTitle>Amount</span>
                        <span matListItemLine>{{ transaction.amount | currency: 'PLN ' }}</span>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
