.money-header {
    font-weight: bold;
}

.money-amount {
    font-size: 1em;
}

.balance-card {
    width: 15em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.bill-number {
    font-size: 0.7em;
}
